@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  src: url("../../fonts/Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: Poppins;
  font-style: normal;
  src: url("../../fonts/Poppins-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Poppins;
  font-style: normal;
  src: url("../../fonts/Poppins-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Roboto;
  font-style: normal;
  src: url("../../fonts/Poppins-SemiBold.ttf");
  font-display: swap;
}
