.popular-tools {
  margin-top: 200px;

  &__title {
    @extend %header-text;

    text-align: center;
  }

  &__subtitle {
    @extend %subtitle-text;
    width: 430px;

    margin: 25px auto 0;

    font-weight: 500;
    text-align: center;
  }

  &__block {
    margin-top: 90px;
  }

  &__catalog {
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  &__more {
    padding: 17px 38px;

    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 8px;

    color: $brand-color;
    font-weight: 500;
    font-size: 20px;

    line-height: 30px;

    background: inherit;

    transition: background-color $transition-duration, color $transition-duration;

    &:hover {
      color: $text-color-primary;

      background-color: $brand-color;
    }
  }
}
